
<br>
<b>Id:</b><%= "#{@place.id}" %><br>
<b>Name:</b><%= "#{@place.name}" %><br>
<b>Address:</b><%= "#{@place.address}"%><br>
<b>Phone Number:</b><%= "#{@place.phone_number}"%><br>
<b>Contact Mail:</b><%= "#{@place.contact_mail}"%><br>
<b>City:</b><%= "#{@place.city}"%><br>
<b>Description:</b><%= "#{@place.description}"%><br>

<br/><br/>
<a href="<%= places_path %>">Back to main list</a>